<div class="col-md-12">

<div class="row">
    <div class="col-md-1">
        <img src="http://whytoread.com/wp-content/uploads/2015/03/best-books-book-youll-ever-read.jpg"
        alt="authors" style="height:60px">
        <a href="/books"><h3 class="sidewise">Books</h3></a>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/d6/ac/26/d6ac2660f86d6936ed3a055481b179f6.jpg"
          alt="authors" style="height:60px">
         <a href="/authors"><h3 class="sidewise">Authors</h3></a>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <div class="editForm">
            <legend>Add Author</legend>
            <form action="/authors/" method="post">
                <label>First Name</label>
                <br>
                <input type="text" name="first_name" value="">
                <br>
                <label>Last Name</label>
                <br>
                <input type="text" name="last_name" value="">
                <br>
                <label>Portrait URL</label>
                <br>
                <input type="text" name="portrait_url" value="">
                <br>
                <label>Biography</label>
                <br>
                <textarea name="biography" value="" rows='6' cols='30'></textarea>
                <br>
                <label>Books</label>
                <br class="appendBook">
                <div class="books">
                    <select>
                        <option>Select a book</option>
                        {{#allBooks}}
                        <option>{{title}}</option>
                        {{/allBooks}}
                    </select>
                </div>
                <br>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</div>
