<div class="col-md-12">

<div class="row">
    <div class="col-md-1">
        <img src="http://whytoread.com/wp-content/uploads/2015/03/best-books-book-youll-ever-read.jpg"
        alt="authors" style="height:60px">
        <a href="/books"><h3 class="sidewise">Books</h3></a>
        <img src="https://s-media-cache-ak0.pinimg.com/736x/d6/ac/26/d6ac2660f86d6936ed3a055481b179f6.jpg"
          alt="authors" style="height:60px">
         <a href="/authors"><h3 class="sidewise">Authors</h3></a>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <div class="editForm">
            <legend>Add a Book</legend>
            <form action="/authors/" method="post">
                <div class="form-group">
                <label>Add a Book</label>
                <input type="text" class="form-control" name="title" value="">
                </div>
                <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="genre" value="">
                </div>
                <div class="form-group">
                <label>Portrait URL</label>
                <input type="text" class="form-control" name="cover_url" value="">
                </div>
                <div class="form-group">
                <label>Biography</label>
                <textarea name="description" class="form-control" value="" rows='6' cols='30'></textarea>
                </div>
                <label>Authors</label>
                <div class="checkbox">
                {{#authors}}
                <label><input type="checkbox">{{author}}</input></label><br>
                {{/authors}}
                </div>
                <div class="form-group">
                <input type="submit" class="form-control" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
