<div class="row">

  <div class="col-md-4 col-md-offset-1">
    <div class="thumbnail">
      <img class="mainImg" src="http://whytoread.com/wp-content/uploads/2015/03/best-books-book-youll-ever-read.jpg" alt="books">
      <div class="caption">
        <a href="/books"><h3>Books</h3></a>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-1">
    <div class="thumbnail">
      <img class="mainImg2" src="https://s-media-cache-ak0.pinimg.com/736x/d6/ac/26/d6ac2660f86d6936ed3a055481b179f6.jpg"
        alt="authors" style="height:273px;width:476px">
      <div class="caption">
        <a href="/authors"><h3>Authors</h3></a>
      </div>
    </div>
  </div>

</div>
