body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    text-align: center;
}

.sidewise {
    -webkit-transform: rotate(270deg);
    margin-top: 50px;
    margin-bottom: 50px;
}
