body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    text-align: center;
}

.sidewise {
    -webkit-transform: rotate(270deg);
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    padding-top: 10px;
    width:200px;
}

.imgSide{
    padding-top: 10px;
    width: 100px;
}

.mainImg, .mainImg2{
    padding: 0;
}

.form-control {
    width: 60%;
}
